.kpis {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.kpi-item {
    border: 1px solid #c3c3c3;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 30px 0;
    padding: 10px;
    padding: 40px 10px;
    align-items: center;
}

.kpi-item img {
    width: 25%;
    padding-right: 20px;
}

.kpi {
    display: flex;
    flex-direction: column;
}

.kpi .number {
    font-size: 1.6rem;
    font-weight: 600;
}

.kpi .text {
    color: #999999;
    font-size: 0.8rem;
    font-weight: 400;
}

@media (max-width: 768px) {
    .kpi-item {
        width: 100%;
        margin: 10px 0;
    }
}