.ebook .title,
.shop-section .title {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 40px 0px 10px 0px;
}

.ebook .hdivider,
.shop-section .hdivider,
.otherbooks .hdivider {
    transform: scaleY(0.5);
}

.ebook .year-wise,
.ebooks-one-year .month-wise {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 items per row */
    gap: 30px;
}

.ebook .year-wrapper,
.ebooks-one-year .month-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ebook .year-wrapper img,
.ebooks-one-year .month-wrapper img {
    width: 9rem;
    height: 10rem;
    object-fit: cover;
}

.ebook .year-wrapper button,
.ebooks-one-year .month-wrapper button {
    margin: 0 !important;
}

.Year-navigation,
.Month-navigation,
.category-navigation,
.home-navigation {
    display: inline-flex;
    gap: 5px;
    padding: 10px 0;
    font-size: 12px;
    cursor: pointer;
}

.Month-navigation>.month,
.category-navigation>.nav-book,
.home-navigation>.nav-title {
    color: #D58C19;
    font-weight: 600;
}

.monthlybook-buysection,
.categorybook-buysection,
.book-navigator {
    display: flex;
}

.monthlybook-buysection,
.categorybook-buysection {
    gap: 20px;
}

.prev-next,
.prev,
.nxt {
    display: inline-flex;
}

.prev,
.nxt {
    cursor: pointer;
}

.book-navigator {
    justify-content: space-between;
}

.img-details-section {
    display: flex;
    align-items: flex-start;
    gap: 3%;
    justify-content: center;
}

.img-details-section img {
    width: 25vw;
}

.img-details-section>.details {
    padding-top: 5%;
    width: 20%;
}

.audio-section {
    padding: 5%;
    border: 1px solid #E7E7E7;
    box-shadow: #000000;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.audio-section>.audio-cat {
    display: inline-flex;
    background: #F09300;
    padding: 2px;
    width: 5vw;
    justify-content: center;
    font-size: 0.8rem;
    color: #000000;
    line-height: 20px;
}

.audio-section>.audio-subtext {
    display: flex;
    justify-content: space-between;
    color: #999999;
    font-size: 0.8rem;
    line-height: 20px;
}

.audio-section .views {
    display: flex;
    gap: 2px;
}

.audio-title-section {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.audio-title-section>.audio-title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -2px;
}

.audio-title-section button {
    cursor: pointer;
    padding: 0 15px;
    border: none;
    border-radius: 80px;
    color: #ffffff;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 44px;
}

.audio-play-title {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.audio-play-title>.index {
    padding: 8px 12px;
    /* border: 1px solid #000000; */
    background: #FEF7F7;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
}

.audio-play-title p {
    color: #11151F;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.audio-play-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;

}

.audio-play-section .player-transcript-section p {
    background-color: #FFFFFF;
}

.audio-play-section .player {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.audio-play-section .audio-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.audio-play-section .audio-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 15px;
}

.audio-play-section .audio-details {
    flex: 1;
}

.audio-play-section .audio-title {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    color: #11151f;
}

.audio-play-section .audio-author {
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
}

.audio-play-section .audio-element {
    width: 100%;
    margin: 10px 0;
}

.audio-play-section .audio-transcript {
    font-size: 0.8rem;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
    max-height: 200px; /* Set a max height for the transcript */
    overflow-y: auto; /* Make it scrollable when the content exceeds the height */
    padding-right: 10px;
}

.audio-prev-nxt {
    display: flex;
    justify-content: space-between;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #E6E6E6;
    padding: 10px 0;
}

.audio-prev,
.audio-nxt {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.audio-prev,
.audio-nxt img {
    max-width: 5vw;
}

.audio-prev-text,
.audio-nxt-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.audio-nxt-text .nxt,
.audio-prev-text .prev {
    color: #999999;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 20px;
}

.prev-title,
.nxt-title {
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
}

.monthlybook-buysection>.book-imagesection,
.categorybook-buysection>.book-imagesection {
    width: 40%;
}

.monthlybook-buysection>.book-contentsection,
.categorybook-buysection>.book-contentsection {
    width: 50%;
}

.monthlybook-buysection>.book-imagesection img,
.categorybook-buysection>.book-imagesection img {
    width: 100%;
}

.prev-next {
    gap: 10px;
}
.other-ebooks{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 20px 0
}

.other-ebook-subtext,.comments-views, .other-book-desc{
    color: #999999;
    font-size: 0.8rem;
    line-height: 14px;
    font-weight: 400;
}
.other-book-desc{
    padding-bottom: 10px;
}
.comments-views{
    display: inline-flex;
    gap: 2px;
    align-items: center;
}
.comments-views> .comments, .comments-views>.views{
    display: inline-flex;
    gap: 2px;
    align-items: center;
}
.other-book-title{
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
}
.other-book-cat-read-more{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E6E6E6;
    padding-top: 10px;
}
.other-book-cat{
    font-size: 12px;
    font-weight: 400;
    line-height: 13.66px;
    text-align: left;
}
.other-book-cat span{
    color:#f09300
}
.other-book-read-more{
    font-size: 12px;
    font-weight: 600;
    line-height: 12.29px;
    text-align: left;
    color: #000000;
}


.monthlybook-buysection .title-section,
.categorybook-buysection .title-section {
    padding-top: 15px;
}

.monthlybook-buysection .title,
.categorybook-buysection .title {
    font-size: 2rem;
}

.monthlybook-buysection .subtext,
.categorybook-buysection .subtext {
    padding: 10px 0;
    font-size: 0.8rem;
    gap: 20px;
    border-bottom: 1px solid #E6E6E6;
    font-weight: 100;
}

.monthlybook-buysection .subtext>.author,
.categorybook-buysection .subtext>.author {
    padding-right: 20px;
    border-right: 1px solid #E6E6E6;
}

.book-contentsection .shortdesc {
    padding: 15px 0;
    color: #444444;
    font-size: 0.8rem;
    font-weight: 100;
}


.tabs,
.buttons {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.buttons button {
    font-size: 0.8rem;
}

.desc-info-tabs {
    display: flex;
    justify-content: center;
    gap: 5lvw;
}

.desc-info-tabs>button {
    font-size: 1.2rem;
    border: none;
}

.tab-button,
.desc-info-tabs .tab-underscore {
    padding: 5px;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 100;
    line-height: 20px;
}

.tab-button {
    border-radius: 10px;
    border: 2px solid #ccc;
}

.tab-button.active {
    color: #000000;
    border-color: #F09300;
}

.tab-content {
    margin-top: 20px;
    border-radius: 10px;
    width: 80%;
    background-color: #f9f9f9;
}

.tab-content .hardcopy,
.category-buy-section .tab-content {
    font-size: 1rem;
    font-weight: 400;
}

.audio-buy .plans {
    font-size: 1rem;
    padding-bottom: 15px;
}

.audio-buy .plans a {
    color: #F09300;
    text-decoration: underline;
    cursor: pointer;
}

.listen-copy-buy-section,
.category-buy-section {
    font-size: 0.8rem;
    color: #444444;
    font-weight: 100;
}

.subscribe-section {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #E6E6E6;
    padding: 10px 0;
}

.subscribe-section button {
    margin: 0 !important;
}

.cat-tag {
    padding: 10px 0;
    font-size: 0.6rem;
    font-weight: 100;
    line-height: 24px;
}

.month-selection,
.year-selection {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.month-selection label,
.year-selection label {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 100;
    line-height: 20px;
}

.month-selection input,
.year-selection input {
    width: 4rem;
    padding: 0.4rem;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid #E6E6E6;
    border-radius: 50px;
}

.month-selection input[type="number"]:hover,
.year-selection input[type="number"]:hover {
    border-color: #007BFF;
}

.quantity-select {
    padding: 10px 0;
    display: flex;
    align-items: flex-end;
    gap: 20px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #E6E6E6;
}

.quantity-select button {
    margin: 0 !important;
}

.quantity-select .counter {
    display: inline-flex;
    gap: 20px;
    font-size: 1rem;
    border: 1px solid #E6E6E6;
    border-radius: 50px;
    padding: 10px;
}

.note {
    font-size: 0.6rem;
    padding-bottom: 10px;
}

.note span {
    color: #E2401C;
}

.counter>.increase,
.decrease {
    cursor: pointer;
}

.tab-underscore.active {
    color: #000000;
    border-bottom: 2.5px solid #F09300;
}

.desc-tab-content>* {
    padding: 20px 10%;
    font-size: 0.8rem;
    font-weight: 100;
    color: #444444;
    display: flex;
    flex-wrap: wrap;
    line-height: 24px;
}

.otherbooks-title {
    display: flex;
    gap: 50px;
    color: #000000;

}

.otherbooks-title .hdivider {
    color: #E6E6E6;
}

.otherbooks-title .text {
    font-size: 1.4rem;
    font-weight: 100;
}

.otherbooks-title .hdivider img {
    width: 100%;
    filter: invert(88%) sepia(11%) saturate(0%) hue-rotate(0deg) brightness(91%) contrast(93%);
}

.book-cards {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.book-card,
.cat-book-card {
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

}

.cat-book-card {
    border-right: 1px solid #E6E6E6;
}

.book-card .text,
.cat-book-card .text {
    font-size: 0.7rem;
    font-weight: 100;
    line-height: 24px;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.book-card img,
.cat-book-card img {
    width: 100%;
}

.book-card button,
.cat-book-card button {
    cursor: pointer;
    border: none;
    color: #F09300;
    font-weight: 700;
    font-size: 1.2rem;
    background: none;
    padding: 0;
}

.shop-section .genre {
    flex: 1;
}

.shop-section .buy-section {
    flex: 4;
}

.shop-section .genre .MuiCardContent-root {
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
    color: #0A0A0A;
    gap: 30px;
}

.shop-section .categ {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.shop-section .categ .text {
    color: #444444;
    font-size: 0.8rem;
    font-weight: 400;
}

.shop-section .categ {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}

.shop-section .categ input[type="checkbox"] {
    accent-color: black;
}

.shop-section .title {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
}

.shop-section .content-section>* {
    margin-bottom: 10px;
}

.shop-section .subtitle,
.shop-section .desc {
    font-size: 1rem;
    font-weight: 100;
    color: #444444;
}

.shop-section .price {
    font-size: 1.2rem;
    font-weight: 600;
    color: #F09300;
}

.buy-section .book {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    margin: 10px 0 0px 0;
    border-bottom: 1px solid #E6E6E6;
}

.shop-section .price span {
    padding-left: 5px;
    text-decoration: line-through;
    color: #444444;
    font-weight: 100;
    font-size: 1rem;
}

.shop-section .shopcontent {
    display: flex;
    flex-direction: row;
}

.shop-section .content-section button {
    display: flex;
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: 600;
    gap: 8px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

.pagination .MuiPagination-ul {
    color: #667085 !important;
}

.pagination li:nth-child(n+2):nth-last-child(n+2) button {
    color: #667085;
}

.pagination li:first-child button,
.pagination li:last-child button {
    font-family: 'Sora', sans-serif;
    line-height: 20px;
    font-weight: 500;
    color: #344054;
    border: 1px solid #D0D5DD;
    gap: 10px;

}

.pagination li:first-child {
    position: absolute;
    left: 13lvw;
}

.pagination li:last-child {
    position: absolute;
    right: 13lvw;
}

.pagination .Mui-selected {
    background-color: #FCCC4D !important;
    /* Highlight color */
    color: #7F56D9 !important;
    /* Text color */
    font-weight: bold;
    /* Optional for better emphasis */
    border-radius: 50%;
    /* Optional: To make it more visually distinct */
}

@media (max-width: 768px) {

    .ebook .year-wise,
    .ebooks-one-year .month-wise {
        grid-template-columns: repeat(2, 1fr);
        /* 2 items per row on small screens */
    }
}

@media (max-width: 480px) {

    .ebook .year-wise,
    .ebooks-one-year .month-wise {
        grid-template-columns: 1fr;
        /* 1 item per row on very small screens */
    }
}