.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.7rem 0; */
}

.topLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.topRight {
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

.topContainer .text {
    font-size: 0.7rem;
    font-weight: 600;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .container{
    background: #FFF;
    box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.16);
} */

@media (max-width: 768px) {
  .desktopMenu {
    display: none !important;
  }
  .mobileMenu {
    display: flex !important;
  }
}

@media (min-width: 769px) {
  .desktopMenu {
    display: flex !important;
  }
  .mobileMenu {
    display: none !important;
  }
}

@media (max-width: 400px) {
  .topContainer {
    zoom: 80%
  }
}