.contact-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
    color: #B54708;
}

.contact-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 3rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFAEB;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
    color: #B54708;
}

.form-subtitle {
    font-size: 1rem;
    text-align: left;
    margin-top: 5px;
    color: #666;
}

.form-input,
.form-textarea {
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 1rem;
    background: #fff;
}

.form-textarea {
    border-radius: 1.5rem;
}

.form-button {
    border-radius: 1.5rem;
    padding: 0.8rem 4rem;
    width: 100%;
    background: #F09300;
    text-transform: none;
    margin-top: 2rem;
    color: #fff;
    font-weight: bold;
    transition: background 0.3s ease;
}

.form-button:hover {
    background: #DC6803;
}

.dealers-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 3rem;
}

.dealers-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dealer-card {
    flex: 1;
    margin: 1rem;
}

.dealer-image {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.dealer-info {
    margin-top: 1rem;
}

.dealer-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}

.dealer-address,
.dealer-hours {
    font-size: 0.8rem;
    color: #444;
    line-height: 1.5rem;
}

.dealer-hours-title {
    font-size: 1.2rem;
    margin: 2rem 0;
    font-weight: bold;
    color: #000;
}

.contact-iframe {
    width: 70%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .dealers-content {
        flex-direction: column;
        align-items: center;
    }

    .dealer-card {
        width: 100%;
        margin: 0;
        margin-top: 1.5rem;
    }

    .contact-iframe {
        width: 100%;
    }
}
