/* Main container for aligning left and right side with equal height */
.container {
    display: flex;
    gap: 35px;
    align-items: stretch;
    padding-top: 10px;
}


.container .left-side {
    padding-top: 20px;
    font-size: 1rem;
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.right-side {
    flex: 1; /* Right side takes up the remaining width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 20px; */
}

.subtitle {
    font-weight: 600;
    letter-spacing: 1px;
}

.left-side > .subtitle {
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    padding: 20px 0;
}

.right-side .subtitle {
    font-size: 1.2rem;
    padding: 20px 0;

}

.subtitle-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 16px;
    padding-top: 20px;
}

.edition-cards, .popular {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.viewAll {
    display: flex;
    align-items: center;
}

.subtitle-row .hdivider{
    width: 50%;
}
.hdivider img{
    width: 100%;
}

/* Optional: Adjustments for responsive design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .left-side, .right-side {
        width: 100%;
    }
}
