.foot-section{
    display: flex;
    flex-direction: column;
    /* width: 80%; */
}
.footer{
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 25px 0px;
    justify-content: space-between;
}
.copyright{
    font-size: 0.8rem;
    border-top: 1px solid #9999;
    display: flex;
    color: #ffff;
    justify-content: space-around;
    padding: 40px 0;
    letter-spacing: 2px;
}
.copyright .text span{
    color: #F09300;
}
.footer .about, .address, .time{
    font-size: 0.8rem;
    color: #999999;
}
.footer .title{
    font-size: 1rem;
    color: #ffffff;
    padding-bottom: 15px;
}
.contact{
    line-height: 24px;
}
.contact .phNumber{
    color: #F09300;
    font-size: 1.2rem;
    font-weight: 600;
}
.contact a{
    color: #ffffff;
    font-size: 0.7rem;
}
.contact .email{
    color: #ffffff;
    font-size: 1.1rem;
}
.explore .sections, .service .policies, .categ .book-cat{
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
}
.explore a, .service a, .categ a{
    color: #999999;
    font-size: 0.8rem;
}

.copyright{
    font-size: 0.8rem;
    border-top: 1px solid #9999;
    background: #282828;
    display: flex;
    color: #ffff;
    justify-content: space-around;
    padding: 40px 0;
    letter-spacing: 2px;
}
.copyright .text span{
    color: #F09300;
}