.PranavamTV {
    width: 100%;
    padding: 20px 0px;
}

.PranavamTV .title {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    flex-direction: row;
}

.PranavamTV .video-section iframe {
    width: 100%;
    height: 45vh;
    border-radius: 10px;
}

.video-section {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.PranavamTV .main {
    width: 50%;
}

.PranavamTV .other {
    display: flex;
    flex-direction: column;
    gap: 1%;
    width: 50%;
}

.PranavamTV .video-section .embed {
    display: flex;
    font-size: 0.8rem;
    gap: 5px;
    height: -webkit-fill-available;
    width: auto;
}

.PranavamTV .video-section .embed .video-title {
    flex: 0 0 50%;
}

.youtubeEmbed {
    border-radius: 10px;
    flex: 1;
    height: 10vh;
    padding: 10px;
    position: relative;
}

.youtubeEmbed:hover {
    filter: blur(0);  /* Remove blur on hover */
}

.PranavamTV .embed .add-info {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.PranavamTV .embed .add-info .comment,
.PranavamTV .embed .add-info .views {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.video-section {
    display: flex;
    gap: 20px;
}

.main {
    flex: 2;
}

.other {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.embed {
    display: flex;
    flex-direction: row;
    gap: 1rem; 
    padding: 0.5rem;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}

.video-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add-info {
    display: flex;
    justify-content: space-between;
}

.comment, .views {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 768px) {
    .title {
        flex-direction: column;
        align-items: center;
    }

    .video-section {
        flex-direction: column;
    }

    .main {
        width: 100%;
    }

    .other {
        width: 100%;
        flex-direction: row;
        overflow-x: auto;
        gap: 10px;
    }

    .embed {
        width: 80%;
        flex: none;
    }

    .video-title .text {
        font-size: 0.9rem;
    }

    .add-info .count {
        font-size: 0.8rem;
    }
    .PranavamTV .main {
        width: 100%;
    }
    
    .PranavamTV .other {
        width: 100%;
    }
}
