.Cards{
    display: flex;
    height: 100%;
    background-color: #fbf1e6;
    padding: 15px 30px 15px 30px;
    gap: 15px;
    border-radius: 15px;
    flex-direction: column;
    border: 1px solid #ccc;
}
.card{
    /* padding-left: 30px; */
    display:flex;
    align-items: center;
    gap:15px;
}
.card-img{
    width: 4vw;
    height: 8vh;
}
.card-text{
    font-size: 14px;
    color: #F09300;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;  /* Removes the underline */
}

@media (max-width: 768px) {
    .Cards.mobile {
        flex-direction: row;
        padding: 10px;
        gap: 15px;
        overflow-x: auto;
        white-space: nowrap;
        width: auto;
    }

    .card {
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        align-items: center;
        width: 80%;
        margin-right: 10px;
        justify-content: space-evenly;
    }

    .card-img {
        width: 18vw;
        height: auto;
    }

    .card-text {
        font-size: 12px;
        justify-content: center;
        font-weight: bold;
    }
}