@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400;700&display=swap');
*{
  font-family: 'Sora', sans-serif;
}

body {
  background-image: url('/public/assets/images/appBackground.webp');
  background-repeat: repeat; 
  background-size: cover; 
  background-position: center; 
  margin: 0;
}

/* Global Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
