.PopBooks,
.YouTube,
.News,
.playStore,
.newsletter,
.kpi,
.ft {
    display: flex;
    justify-content: center;
}

.PopBooks,
.YouTube,
.News,
.playStore,
.newsletter,
.kpi {

    background: #F9E2BE;
}
.ft{
    background: #282828;
}

.kpi {
    align-items: center;
}